:root{
  --darkest-blue:#4B40F7;
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: rgb(243, 244, 246);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --mix: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
}
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
html {
    font-family: 'Public Sans', sans-serif;
    font-size: 10px;
}

body {
    width: 100%;
    font-size:1.8rem;
}

p{
    font-size:1.6rem;
    color: var(--grayish-blue);
    line-height:1.6;
}

section{
    padding:5rem 0;  
    align: center;
}

.section-heading{
	
	font-size:4rem;
	font-style: bold;
	text-shadow: 0 0 3px white, 0 0 5px white;  
	color: var(--dark-blue);
	font-variant: inherit;
	align: center;
}
.container{
    width: 100%;
    max-width: 150rem;
    margin:0 auto;
    padding:0 2.5rem;
}

/* UTILITY CLASSES */
.u-mb-small {
    margin-bottom: 1.6rem;
}

.u-mb-medium {
    margin-bottom: 3rem;
}

.u-mb-large {
    margin-bottom: 5rem;
}

a{
    text-decoration:none;
    color:var(--lime-green);
}


.btn{
    font-size:1.5rem;
    font-weight:700;
    text-decoration: none;
    padding:1.3rem 3rem;
    border-radius: 1rem;
    color:white;
    transform:scaleX(1);
    transition:all .2s;
    background:linear-gradient(to right, var(--lime-green), var(--bright-cyan));
}

.btn:hover{
    opacity:.8;
    transform:scaleX(1.1);
}  

/* Header */
header{
    width:100%;
    height: 6.25rem;
    padding: 1.5rem 0;
    background-color: var(--dark-blue);
    color: var(--dark-blue);
    box-shadow:0px 5px 20px 0px var(--dark-blue);
    position:fixed;
    z-index:999;
    top:0;
}

.logo{

    float:left;
    vertical-align: center;
    display:flex;
    height:6rem;
}

.check{
    display:none;
}

.hamburger{
    display:inline-block;
    color: var(--white);
}

.nav-ul{
    float: right;
    padding-top: 1rem;
    display:inline-flex;
    justify-content:end;
    align-items:right;
}

.nav-ul li{
    list-style: none;
    margin:0 1rem;
}

.nav-ul li a{
    font-size:1.6rem;
    color:var(--very-light-gray);
    padding-bottom:2rem;
    position:relative;
}

.nav-ul li a:hover{
    color:var(--lime-green);
}

.nav-ul li a::after{
    content:"";
    position: absolute;
    display: block;
    width: 100%;
    height:.3rem;
    bottom: 0;
    background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    transform: scaleX(0);
    transform-origin: left;
    transition: all .3s;
}

.nav-ul li a:hover::after{
    transform: scaleX(1);
}

/* Showcase Section */
.welcome-section {
    width: 100%;
    background-color: var(--light-grayish-blue);
}

.welcome {
    display: flex;
    flex-direction: column-reverse;
}

.welcome-text {
    text-align: center;
}

.welcome-text h1 {
    font-size: 3.5rem;
    font-weight: normal;
    color: var(--dark-blue);
    line-height: 4.5rem;
}

.welcome-text h1 span {
    display: inline-block;
}    

/* About */
.about-section {
    background-color: var(--light-grayish-blue);
}

.about-text {
    width: 100%;
    text-align: center;
}

.heading-secondary {
    font-size: 3rem;
    font-weight: normal;
    color: var(--dark-blue);
    line-height: 3.5rem;
}

.about-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    row-gap: 2rem;
    column-gap: 1rem;
}

.about-item-box {
    display: inline-block;
    text-align: center;

}

.heading-tertiary {
    font-size: 2rem;
    font-weight: normal;
    color: var(--dark-blue);
    line-height: 4.5rem;
}

/* Contact Section */
.contact h2{
    font-family: 'Public Sans', sans-serif;
    text-align: center;
    padding: 1rem 0;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 9rem;
    padding-bottom: 5rem;
}

.contact-container{
    display: flex;
}
.contact-heading {
    width: 50%;
    font-weight: 900;
    padding-bottom: 5rem;
    color: var(--dark-blue);
}

.contact-container .form-container{
    width: 50%;
}
.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    justify-content: center;
}
.form-container input, .form-container textarea{
    display: block;
    width: 100%;
    font-size:1.5rem;
    font-weight: 400;
    padding:0.5rem;
    margin:0.5rem;
    border:0.2rem solid var(--lime-green) ;
    color: var(--lime-green);
    background:var(--very-light-gray);
    border-bottom-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    outline: none;
}
.form-container1{
    display: flex;
    width: 100%;
    font-size:1.5rem;
    font-weight: 200;
    padding:0.5rem;
    margin:0.5rem;
    border:0.2rem solid var(--lime-green) ;
    color: var(--lime-green);
    background:var(--very-light-gray);
    border-bottom-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    outline: none;
}

/* Feedback */
.feedback h2{
    font-family: 'Public Sans', sans-serif;
    text-align: center;
	display: block;
	margin-left:auto;
	margin-right: auto;
    padding: 1rem 0;
    font-weight: 600;
    text-transform: none;
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.feedback-container{
    display: flex;
}
.feedback-heading {
    width: 50%;
    font-weight: 900;
    padding-bottom: 5rem;
    color: var(--dark-blue);
}

.feedback-container .form-container{
    width: 50%;
}
.feedback-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:20px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '@';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
/* Footer */
.footer {
    padding: 0.1rem 0;
    background-color: hsl(232, 26%, 16%);
    box-shadow:5px 0px 20px 0px  hsl(232, 26%, 16%);
}

.footer {
	width:100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    row-gap:0.2 rem;
    column-gap: 2rem;
    padding-top: 0.2rem;
    box-shadow:5px 0px 20px 0px  hsl(232, 26%, 16%);
}

.footer-icons {
    padding-top: 0.5rem;
    padding-left: 3.5rem;
}

.footer-links ul li {
    padding-top: 1rem;
    list-style: none;
    padding-bottom: 1rem;
}

.footer-links ul li a {
    color: var(--very-light-gray);
    font-size: 2rem; 
}

.footer-links ul li a:hover {
    color: var(--lime-green);
}

.footer-credit{
	padding-top: 1.3rem;
	position: relative;
    font-size:xx-large;
}


/* Media Query */

@media (min-width:501px) and (max-width:768px){
    .welcome-image{
        display:inline;
        text-align: center;
        height:38rem;
    }
    .welcome-image::before{
        top:-35rem;
        right:0;
        width:65rem;
        height:83rem;
    }
    .welcome-image img{
        width:70%;
        height:48rem;
        transform:translateY(-15rem);
    }
}

@media (min-width:769px){
    .welcome-section {
        padding: 3rem 0 1rem 0;
    }

    .welcome {
        flex-direction: row;
    }

    .welcome-image::before {
        display: none;
    }
    .welcome-text {
        text-align: left;
        padding: 5rem 0;
        width: 85%;
    }

    .welcome-image {
        width: 100%;
        position: relative;
    }

    .welcome-image img {
        position: absolute;
        width: 40rem;
        height: 65rem;
        top: -3rem;
        right: 0;
        z-index: 1;
    }
     /* MEDIA QUERY FOR ABOUT SECTION */
     .about-text {
        width: 50%;
        text-align: left;
    }

    .about-item-box {
        text-align: left;
    }
}

@keyframes moveUP {
    0% {
        transform: translateY(100%);
    }
    50% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(0);
    }
}

.moveUP {
    animation: moveUP .8s 1 linear;
}

.tutorial h3{
    color:white;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Table */
table{
    width:100%;
    table-layout: fixed;
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  }
  .tbl-header{
    background-color: rgba(255,255,255,0.3);
   }
  .tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
  }
  th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 900;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
  }
  td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
  }
  
  
  /* for custom scrollbar for webkit browser*/
  
  ::-webkit-scrollbar {
      width: 6px;
  } 
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  } 
  ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  }