*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body{
  font-family: 'Poppins', sans-serif;
}

.wave{
  position: fixed;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.container{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 7rem;
  padding: 0 2rem;

}

.img{
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.login-container{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.img img{
  width:800px;

}
form{
    width: 360px;
}

form h2{
  font-size: 2.9rem;
  text-transform: uppercase;
  margin: 20px 0;
  color: #333;

}

.input-div{
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 30px 0;
  padding: 5px 0;
  border-bottom:2px solid #d9d9d9;
}

.input-div.one{
  margin-top: 0;
}

.input-div.two{
  margin-bottom: 4px;
}
.avatar{
    width:100px
}
.i{
  display: flex;
  justify-content: center;
  align-items: center;
}

.i i{
  color: #d9d9d9;
}

.input-div > div{
  position:relative;
  height: 45 px;
}
.input-div:focus .i i{
  color: #4B40F7;
}

.input-div:focus div h5{
  top:-5px;
  font-size: 15px;
}
.input-div> div h5{
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color:#999;
  font-size: 18px;
  transform:.3s;
}
input:focus{
  color: #4B40F7;
}

.input{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  border:none;
  outline: none;
  background:none;
  padding:0.5rem 0.7rem;
  font-family: 'Poppins', sans-serif;
  font-size:15px;
  color: #555;

}

a{
  display: block;
  text-align: right;
  text-decoration: none;
  color:#999;
  font-size: 0.9rem;
  transition: .3s;

}
.account{
  display: block;
  text-align: center;
  text-decoration: none;
  color:#999;
  font-size: 0.9rem;
  transition: .3s;
}
a:hover{
  color: #4B40F7;
}

.btn{
  display: block;
  width: 100%;
  height:50px;
  border-radius: 25px;
  margin: 2rem 0 1rem 0;
  font-size: 20px;
  outline:none;
  border:none;
  text-transform: uppercase;
  background-image:linear-gradient(to right,#4B40F7,#4B40F7,#4B40F7);
  cursor: pointer;
  color:#fff;
  background-size: 200%;
  transition: .5s;
  font-family: 'Poppins', sans-serif;
}

.btn:hover{
  background-position: right;

}
