:root{
    --darkest-blue: #23253A;
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
    --mix: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  transition: all 0.3s ease;
}

body{
	height: 100vh;;
	width: 100%;
	display: flex;
	background-image: linear-gradient( 135deg, #4B40F7  10%,#000000 100%);
  }
  ::selection{
	color: #f2f2f2;
	background: #f86d8d;
  }

header{
	height: 85vh;
	width: 90%;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(5px);
	z-index: 12;
	border-radius: 25px;
	margin: auto;
	position: relative;
  }

  header .navbar{
	display: flex;
	justify-content: right;
	align-items: right;
	margin: auto;
	width: 100%;
	padding: 35px 50px;
	border-radius: 25px;
	
  }

  .navbar .menu{
	display: flex;
	flex-wrap: wrap;
  }

  .navbar .menu li{
	list-style: none;
	margin: 0 15px;
	font-size: 45px;
	float: right;
  }

  .navbar .menu a{
	color:#f2f2f2;
	text-decoration: none;
	font-size: 40px;
	font-weight: 500;
  }

  .navbar .menu a:hover{
	color:var(--lime-green);
  }

  .text-content{
	  float:right;
  }
  .text-content h2{
	font-size: 47px;
	font-weight: 600;
	color: #fff;
  }
  .text-content p{
	font-size: 20px;
	margin-top: 10px;
	width: 50%;
	color: rgb(211, 201, 201);
  }

  .text-content img{
	  width:15%;
	  transform: translateX(-10%);
  }
  .text-content .buttons input{
	  margin:40px 0;
  }