<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AdminController</servlet-name>
  	<display-name>AdminController</display-name>
  	<description></description>
  	<servlet-class>com.AutomatedMeetingBookingSystem.controllers.AdminController</servlet-class>
  </servlet>

  <servlet>
  	<servlet-name>GlobalServerlet</servlet-name>
  	<display-name>GlobalServerlet</display-name>
  	<description></description>
  	<servlet-class>com.AutomatedMeetingBookingSystem.controllers.GlobalServerlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminController</servlet-name>
  	<url-pattern>/AdminController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GlobalServerlet</servlet-name>
  	<url-pattern>/GlobalServerlet</url-pattern>
  </servlet-mapping>

</web-app>
