<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>GetAllRoomsController</servlet-name>
    <servlet-class>com.AutomatedMeetingBookingSystem.controllers.GetAllRoomsController</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllRoomsController</servlet-name>
    <url-pattern>/GetAllRoomsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CreateMeetingController</display-name>
    <servlet-name>CreateMeetingController</servlet-name>
    <servlet-class>com.AutomatedMeetingBookingSystem.controllers.CreateMeetingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateMeetingController</servlet-name>
    <url-pattern>/CreateMeetingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeController</display-name>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>com.AutomatedMeetingBookingSystem.controllers.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/HomeController</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>HomeController</welcome-file>
    <welcome-file>Index.html</welcome-file>
    <welcome-file>Index.htm</welcome-file>
    <welcome-file>Index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreateRoomController</display-name>
    <servlet-name>CreateRoomController</servlet-name>
    <servlet-class>com.AutomatedMeetingBookingSystem.controllers.CreateRoomController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateRoomController</servlet-name>
    <url-pattern>/CreateRoomController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditMeetingRoom</display-name>
    <servlet-name>EditMeetingRoom</servlet-name>
    <servlet-class>com.AutomatedMeetingBookingSystem.controllers.EditMeetingRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditMeetingRoom</servlet-name>
    <url-pattern>/EditMeetingRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DeleteMeetingRoomController</display-name>
    <servlet-name>DeleteMeetingRoomController</servlet-name>
    <servlet-class>com.AutomatedMeetingBookingSystem.controllers.DeleteMeetingRoomController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMeetingRoomController</servlet-name>
    <url-pattern>/DeleteMeetingRoomController</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LogOutController</display-name>
    <servlet-name>LogOutController</servlet-name>
    <servlet-class>com.AutomatedMeetingBookingSystem.controllers.LogOutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutController</servlet-name>
    <url-pattern>/LogOutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetScheduledByManager</servlet-name>
    <servlet-class>GetScheduledByManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetScheduledByManager</servlet-name>
    <url-pattern>/GetScheduledByManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>GetScheduledByManagerController</display-name>
    <servlet-name>GetScheduledByManagerController</servlet-name>
    <servlet-class>com.AutomatedMeetingBookingSystem.controllers.GetScheduledByManagerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetScheduledByManagerController</servlet-name>
    <url-pattern>/GetScheduledByManagerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImportUserController</display-name>
    <servlet-name>ImportUserController</servlet-name>
    <servlet-class>com.AutomatedMeetingBookingSystem.controllers.ImportUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImportUserController</servlet-name>
    <url-pattern>/ImportUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>GetAvailableRooms</display-name>
    <servlet-name>GetAvailableRooms</servlet-name>
    <servlet-class>com.AutomatedMeetingBookingSystem.controllers.GetAvailableRooms</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAvailableRooms</servlet-name>
    <url-pattern>/GetAvailableRooms</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditMeeting</display-name>
    <servlet-name>EditMeeting</servlet-name>
    <servlet-class>com.AutomatedMeetingBookingSystem.controllers.EditMeeting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditMeeting</servlet-name>
    <url-pattern>/EditMeeting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchMeetingRoomDetailsController</display-name>
    <servlet-name>FetchMeetingRoomDetailsController</servlet-name>
    <servlet-class>com.AutomatedMeetingBookingSystem.controllers.FetchMeetingRoomDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchMeetingRoomDetailsController</servlet-name>
    <url-pattern>/FetchMeetingRoomDetailsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackController</display-name>
    <servlet-name>FeedbackController</servlet-name>
    <servlet-class>com.AutomatedMeetingBookingSystem.controllers.FeedbackController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackController</servlet-name>
    <url-pattern>/FeedbackController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MeetingForMember</display-name>
    <servlet-name>MeetingForMember</servlet-name>
    <servlet-class>com.AutomatedMeetingBookingSystem.controllers.MeetingForMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MeetingForMember</servlet-name>
    <url-pattern>/MeetingForMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMeetingController</display-name>
    <servlet-name>DeleteMeetingController</servlet-name>
    <servlet-class>com.AutomatedMeetingBookingSystem.controllers.DeleteMeetingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMeetingController</servlet-name>
    <url-pattern>/DeleteMeetingController</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>587</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>mohit.tilokchandani17@vit.edu</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>vitsucks@13</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>EmailSendingServlet</display-name>
    <servlet-name>EmailSendingServlet</servlet-name>
    <servlet-class>com.AutomatedMeetingBookingSystem.controllers.EmailSendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailSendingServlet</servlet-name>
    <url-pattern>/EmailSendingServlet</url-pattern>
  </servlet-mapping>
</web-app>