<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AdminController</servlet-name>
  	<display-name>AdminController</display-name>
  	<description></description>
  	<servlet-class>com.AutomatedMeetingBookingSystem.controllers.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminController</servlet-name>
  	<url-pattern>/AdminController</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>GlobalServerlet</servlet-name>
  	<display-name>GlobalServerlet</display-name>
  	<description></description>
  	<servlet-class>com.AutomatedMeetingBookingSystem.controllers.GlobalServerlet</servlet-class>
  </servlet>
  
  <servlet>

  	<servlet-name>MemberController</servlet-name>
  	<display-name>MemberController</display-name>
  	<description></description>
  	<servlet-class>com.AutomatedMeetingBookingSystem.controllers.MemberController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerController</servlet-name>
  	<display-name>ManagerController</display-name>
  	<description></description>
  	<servlet-class>com.AutomatedMeetingBookingSystem.controllers.ManagerController</servlet-class>
  </servlet>
 
  <servlet-mapping>
  	<servlet-name>GlobalServerlet</servlet-name>
  	<url-pattern>/GlobalServerlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MemberController</servlet-name>
  	<url-pattern>/MemberController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerController</servlet-name>
  	<url-pattern>/ManagerController</url-pattern>
  </servlet-mapping>

</web-app>